body {
  font-family: Roboto;
  margin: auto;
  text-align: center;
  background-color: #121212;
  color: #FFFFFF;
}

/* COLORS
  #03DAC5; TEAL
  #BB86FC; PURPLE
  #121212; light BLACK
*/

h1 {
  color: #03DAC5;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin:auto;
  margin-top: 5%;
  background-color: rgba(256,256,256,0.11);
  border-radius: 11px;
  overflow:hidden;
}

td, th {
  /*border: 1px solid rgba(256,256,256,0.16);;*/
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  color: #151515;
}

#table-header {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  background-color:  #03DAC5;
  color: black;
  /*background-color: rgba(256,256,256,0.05);*/
}

.delete {
  color: #CF6679;
  opacity: 0;
  transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
}

.titles:hover .delete {
  opacity: 1;
  transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}

tr:nth-child(even) {
  background-color: rgba(256,256,256,0.09);
}

/* Form for adding books */
.open-button {
  background-color: #03DAC5;
  color: #121212;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  left: 30%;
  font-size: 2em;
  width: 100px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier();
  transition-property: width;
}
.open-button:focus {
  outline:none;
  background-color: #019486;
  width: 200px;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #03DAC5;
  border: none;
  color: black;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.cancel {
  width: 60px;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1px;
  transition: 0.5s;
  margin-bottom: 100px;
}

.btn:hover span {
  padding-right: 7px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -150px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #211f1f;
  border-radius: 25px;
}

label {
   display: flex;
   margin-left: 12px;
   font-size: 14px;
   margin-bottom: 3px;
}

input[type=text] {
  width: 90%;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  padding:3px;
  border: none;
}

input:focus {
  background-color: #474747;
  color: white;
  outline: none;
}

/*MOBILE SETTINGS*/
@media only screen and (max-width: 600px) {
  table {
    width: 90%;
    font-size: 14px;
  }
}
